/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    background-color: $brand-color;
    min-height: 65px;
    padding: $spacing-unit/2 $spacing-unit*2;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 66px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #fff;
    text-decoration: none;

    &,
    &:visited {
        color: #fff;
    }

    > small {
      font-size: 16px;
      color: #eee;
    }
}

.site-nav {
    float: right;
    line-height: 66px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #fff;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $background-color;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit*2 0;
    color: #fff;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.home {
  padding: $spacing-unit*3;
  background-color: $brand-color;
  color: #fff;
}

.page-content {
    // padding: $spacing-unit 0;
    background-color: #fdfdfd;
}

.page-heading {
    font-size: 73px;
    line-height: 1em;
    margin: 0;
    padding: $spacing-unit 0;
    border-bottom: solid 2px #fff;
}

.page-subheading {
  font-size: 24px;
}

.post {
  padding-top: $spacing-unit;
}

.post-list {
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: -1px;
    padding: 0;
    list-style: none;

    > li {
      float: left;
      width: 25%;
      margin: 0;
      padding: 0;

      @include media-query($on-laptop) {
        width: 50%;
      }

      @include media-query($on-palm) {
        width: 100%;
      }

    }
}
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.post-link-color1 { background-color: #9b59b6; }
.post-link-color2 { background-color: #e74c3c; }
.post-link-color3 { background-color: #3498db; }
.post-link-color4 { background-color: #1abc9c; }

.post-link1 { @@extend .post-link-color1; }
.post-link2 { @@extend .post-link-color2; }
.post-link3 { @@extend .post-link-color3; }
.post-link4 { @@extend .post-link-color4; }
.post-link5 { @@extend .post-link-color1; }
.post-link6 { @@extend .post-link-color2; }
.post-link7 { @@extend .post-link-color3; }
.post-link8 { @@extend .post-link-color4; }

a.post-link {
  color: #fff;
  padding: $spacing-unit*2 $spacing-unit;

  > h2 {
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #fff;
  }
}


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    color: #2980b9;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.footnotes {
    border-top: darkgray 1px solid;
    padding-top: 1em;
}
